<div class="chayns-card chayns__background-color--cw-background chayns__color--text"
     [ngClass]="{'linked': hasLink(), 'live-data': (live && isOpen()) || hasLink()}" fxLayout="column"
     fxLayoutAlign="space-between stretch">
  <div>
    <div class="thumbnail" [style.background-image]="'url(' + (backgroundUrl | async) + ')'">
    </div>
    <div class="content">
      <div fxLayout="row" fxLayoutAlign=" center">
        <div class="avatar">
          <img *ngIf="iconUrl | async as iconUrl" [src]="iconUrl" class="icon">
        </div>
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <h2 class="headline chayns__color--headline">{{ shop.showName || shop.name }}</h2>
          </div>
          <div class="tags">
            <chayns-chip-list>
              <chayns-filter-button *ngFor="let tag of getTagNames(); let last = last;"
                                    [small]="true"
                                    [rectangular]="true"
                                    [selectable]="false">
                {{ tag }}
              </chayns-filter-button>
            </chayns-chip-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between end">
    <div class="processors" *ngIf="live && isOpen()" fxFlexAlign="start">
      <div class="processor" *ngFor="let processor of live.processors">
        <ng-container [ngSwitch]="processor.type">
          <i *ngSwitchCase="4" class="fa fa-truck"></i>
          <i *ngSwitchCase="8" class="fa fa-bag-shopping"></i>
          <i *ngSwitchDefault class="fa fa-truck"></i>
        </ng-container>
        <span>ca. {{processor.deliveryTime}} Minuten</span>
      </div>
    </div>

    <div>
      <!-- placeholder to align actions to the right -->
    </div>

    <div class="actions" *ngIf="hasLink()">
      <button chaynsButton type="button" class="filled-tonal" (click)="clickTile()">
        <ng-container *ngIf="!loadingLiveData">
          <span *ngIf="!isOpen() && live && !live.openFrom">Geschlossen</span>
          <span *ngIf="!isOpen() && live && live.openFrom">Geöffnet ab {{ live.openFrom | date:'HH:mm' }} Uhr</span>
          <span *ngIf="isOpen() || !live">Bestellen</span>
        </ng-container>
        <span *ngIf="loadingLiveData">
        <chayns-small-wait-cursor></chayns-small-wait-cursor>
      </span>
      </button>
    </div>

  </div>
</div>
