.chayns-card {
  height: 100%;

  border-radius: 12px;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;

  .thumbnail {
    height: 175px;
    border-radius: 12px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

    img.icon {
      width: 72px;
      height: 72px;
    }
  }

  .content {
    padding: 16px;

    .headline {
      margin: 0;
    }

    .subhead {
      margin: 0 0 8px;
    }

    .tags {
      //margin-bottom: 8px;
    }
  }

  &.live-data {
    .content {
      padding-bottom: 8px;
    }
  }

  .processors {
    padding-left: 16px;
    padding-bottom: 16px;
    min-width: fit-content;

    .processor {
      i {
        //text-align: center;
        width: 25px;
      }
    }
  }

  .actions {
    padding-right: 16px;
    padding-bottom: 16px;
    text-align: right;

    .button.filled-tonal {
      height: 40px;
      padding: 0 24px;
      border-radius: 20px;
      box-shadow: none;
    }
  }
}
