<div chayns-accordion [wrapped]="true" [headerTitle]="getHeaderTitle()">
  <div chayns-accordion-content>
    <form [formGroup]="shopForm" class="form" (ngSubmit)="addOrSaveShop()">
      <div class="form-field">
        <input class="input" type="number" placeholder="BranchId" formControlName="branchId"
               [attr.disabled]="disableInput()">
      </div>
      <div class="form-field">
        <input class="input" type="number" placeholder="LocationId" formControlName="locationId"
               [attr.disabled]="disableInput()">
      </div>
      <div class="form-field">
        <input class="input" type="text" placeholder="Name" formControlName="name">
      </div>
      <div class="form-field">
        <input class="input" type="text" placeholder="Show-Name" formControlName="showName">
      </div>
      <div class="form-field">
        <input class="input" type="url" placeholder="Linked Url" formControlName="linkedUrl"
               (change)="linkedUrlChanged($event)">
      </div>
      <div class="form-field">
        <span>Linked Tapp</span>
        <div class="right">
          <button chaynsButton type="button" [chooseButton]="true" (click)="openLinkedTappSelectDialog()">
            {{ getLinkedTapp() }}
          </button>
        </div>
      </div>
      <div class="form-field">
        <span>Disabled</span>
        <div class="right">
          <input
            type="checkbox"
            class="switch"
            formControlName="disabled"
            [id]="'disabledSwitch' + (this.shop?.id || 'CreateNew')"
            (change)="disableChange($event)"
          >
          <label [for]="'disabledSwitch' + (this.shop?.id || 'CreateNew')" data-on="On" data-off="Off"></label>
        </div>
      </div>
      <div class="form-field">
        <span>Icon Image</span>
        <div class="right">
          <smp-file-upload fileName="icon"
                           [baseFilePath]="getImagePath()"
                           [disabled]="shopForm.controls.branchId.invalid || loading"
                           (selectFile)="updateIconStoragePath($event)">
          </smp-file-upload>
        </div>
      </div>
      <div class="form-field">
        <span>Background Image</span>
        <div class="right">
          <smp-file-upload fileName="background"
                           [baseFilePath]="getImagePath()"
                           [disabled]="shopForm.controls.branchId.invalid || loading"
                           (selectFile)="updateBackgroundStoragePath($event)">
          </smp-file-upload>
        </div>
      </div>
      <div class="form-field" *ngIf="!createNew">
        <span>Tags</span>
        <div class="right">
          <button type="button" chaynsButton [chooseButton]="true"
                  (click)="openTagsSelectionDialog()"
                  [disabled]="loading">
            {{ getTagNames() }}
          </button>
        </div>
      </div>
      <div class="form-field center">
        <button chaynsButton type="submit" [disabled]="shopForm.invalid || !shopForm.dirty || loading">
          <span *ngIf="createNew">Hinzufügen</span>
          <span *ngIf="!createNew">Speichern</span>
        </button>
        <button chaynsButton type="button" *ngIf="!createNew" [disabled]="loading" (click)="deleteShop()">
          Löschen
        </button>
      </div>
    </form>

  </div>
</div>
