<div chayns-accordion [wrapped]="true" [headerTitle]="getHeaderTitle()">
  <div chayns-accordion-content>
    <form [formGroup]="shopForm" class="form" (ngSubmit)="addOrSaveShop()">
      <div class="form-field">
        <input class="input" type="number" placeholder="BranchId" formControlName="branchId">
      </div>
      <div class="form-field">
        <input class="input" type="text" placeholder="Name" formControlName="name">
      </div>
      <div class="form-field">
        <input class="input" type="text" placeholder="Show-Name" formControlName="showName">
      </div>
      <div class="form-field">
        <input class="input" type="url" placeholder="Linked Url" formControlName="linkedUrl">
      </div>
      <div class="form-field">
        <span>Disabled</span>
        <div class="right">
          <input type="checkbox" class="switch" id="switch" formControlName="disabled">
          <label for="switch" data-on="On" data-off="Off"></label>
        </div>
      </div>
      <div class="form-field">
        <span>Icon Image</span>
        <div class="right">
          <smp-file-upload></smp-file-upload>
        </div>
      </div>
      <div class="form-field">
        <span>Background Image</span>
        <div class="right">
          <smp-file-upload></smp-file-upload>
        </div>
      </div>
      <div class="form-field center">
        <!-- TODO: use fixed version of ngx-chayns-components for disabled function -->
        <button chaynsButton type="submit" [disabled]="shopForm.invalid || !shopForm.touched" [ngClass]="{'button--disabled': shopForm.invalid || !shopForm.touched}">
          <span *ngIf="createNew">Hinzufügen</span>
          <span *ngIf="!createNew">Speichern</span>
        </button>
      </div>
    </form>

  </div>
</div>
