// TODO: try to implement this by ngx-chayns-components
.tapp--plugin {
  padding: 0 !important;
}

.filter {
  margin-bottom: 10px;
}

.chayns-text-button {
  background-color: transparent;
  box-shadow: none;
  color: var(--chayns-color--text);

  &:hover {
    //background-color: var(--chayns-color--402) !important;
    background-color: rgba(var(--chayns-color-rgb--408), 0.1) !important;
  }
}

.no-shops-found {
  padding: 16px;
}
