<div chayns-tapp [plugin]="true">

  <!-- Admin view -->
  <div chayns-tapp-content *ngIf="adminMode">
    <h2>Shop Mashup Plugin - Administration</h2>
    <!--<div chayns-accordion headerTitle="Configuration">
      <div chayns-accordion-content>
        Config
      </div>
    </div>-->
    <div chayns-accordion headerTitle="Shops" *ngIf="mashup">
      <smp-shop-config *ngFor="let shop of mashup.shops; trackBy: identify"
                       [shop]="shop" [mashupId]="mashup.id"
                       (updated)="getMashup()" (deleted)="getMashup()">
      </smp-shop-config>
      <smp-shop-config [mashupId]="mashup.id" (created)="newShopAdded($event)"></smp-shop-config>
    </div>
    <div chayns-accordion headerTitle="Tags" *ngIf="mashup">
      <smp-tag-config *ngFor="let tag of mashup.tags; trackBy: identify" [tagId]="tag.id" [name]="tag.name" [mashupId]="mashup.id"
                      (updated)="getMashup()" (deleted)="getMashup()">
      </smp-tag-config>
      <smp-tag-config [mashupId]="mashup.id" (created)="getMashup()"></smp-tag-config>
    </div>
  </div>

  <!-- Shop mashup view -->
  <div chayns-tapp-content *ngIf="initialLoading">
    <div fxLayout="row" fxLayoutAlign="center center">
      <chayns-small-wait-cursor></chayns-small-wait-cursor>
    </div>
  </div>
  <div chayns-tapp-content *ngIf="mashup">
    <div class="filter" *ngIf="mashup.tags.length">
      <chayns-chip-list [selectAllChip]="true" (change)="tagSelectionChanged($event)">
        <chayns-filter-button *ngFor="let tag of mashup.tags" [id]="tag.id">{{ tag.name }}</chayns-filter-button>
      </chayns-chip-list>
    </div>
    <div class="tiles" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutGap="15px grid">
      <smp-shop-tile *ngFor="let shop of mashup.shops | shopFilter:selectedTagIds:allTagsSelected; trackBy: identify" fxFlex="0 1 calc(50% - 15px)" [shop]="shop" [mashupId]="mashup.id"></smp-shop-tile>
    </div>
  </div>
</div>
