// TODO: try to implement this by ngx-chayns-components
.tapp--plugin {
  padding: 0 !important;
}

.filter {
  margin-bottom: 10px;
}

.chayns-text-button {
  background-color: transparent;
  box-shadow: none;

  &:hover {
    //background-color: var(--chayns-color--402) !important;
    background-color: rgba(var(--chayns-color-rgb--408), 0.3) !important;
  }
}
