@import "node_modules/ngx-chayns-components/styles/chayns";
@import "node_modules/ngx-chayns-components/styles/material";

// TODO: create form-field component in ngx-chayns-components
.form-field {
  width: 100%;
  margin-bottom: 15px;

  .input {
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .right {
    float: right;
  }
}

.center {
  text-align: center;
  margin-top: 20px;

  button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.chayns-menu {
  background-color: var(--chayns-color--cw-background);
  color: var(--chayns-color--text);

  .mat-menu-item {
    color: var(--chayns-color--text);
    font-family: inherit;

    .mat-icon {
      color: var(--chayns-color--text);
    }
  }
}
